[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kodachi/Desktop/VMwareTools-10.2.0-7259539.tar.gz]
row=4
col=0

[/home/kodachi/Desktop/vmware-tools-distrib]
row=0
col=1

[2017-11-30-02-26-49-00]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/kodachi]
row=2
col=0

