[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kodachi/Desktop/take5.0]
row=3
col=0

[/home/kodachi/Desktop/icon-theme.cache]
row=4
col=0

[/home/kodachi/Desktop/index.theme]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/kodachi]
row=2
col=0

