[Main]
Timeout=250
Timeout_Seconds=1
Use_Timeout_Seconds=true
Use_Click_Command=false
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=true
Color=rgb(164,0,0)
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=true
Color=rgb(114,159,207)
Text=mem

[SL_Swap]
Enabled=true
Use_Label=true
Color=rgb(186,189,182)
Text=swap

[SL_Uptime]
Enabled=false

