[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=systemhealth no net
Comment=kodachi
Exec=sudo bash /home/kodachi/.kbase/systemhealth -a hardworknonet
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

