[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Usbguard
Comment=Usbgurad in sudo
Exec=sudo usbguard-applet-qt
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

