[Desktop Entry]
Version=1.0
Type=Application
Name=Kodachi Lite Browser
Comment=
Exec=firefox -p KodachiBrowserLight
Icon=/home/kodachi/.config/cairo-dock/current_theme/icons/liteb.png
Path=
Terminal=false
StartupNotify=false
